/* REESTABLECIMIENTO DE PADDING Y MARGIN */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FIN REESTABLECIMIENTO DE PADDING Y MARGIN */
/* HTML */
html {
  scroll-behavior: smooth;
}

/* FIN HTML */
/* BODY */
body {
  background-image: url("/images/album.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  font-family: roboto-fuente;
}

/* FIN BODY */
/* FUENTES */
@font-face {
  font-family: roboto-fuente;
  src: url("/roboto-fonts/Roboto-Medium.ttf");
}
/*  FIN FUENTES */
/* TITULOS DE SECCIONES */
.subtitulos {
  color: #191919;
  font-size: 30px;
  padding: 10px 10px 0 100px;
  margin: 0px 100px 5px 100px;
  text-decoration: underline;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .subtitulos {
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .subtitulos {
    font-size: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .subtitulos {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .subtitulos {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

/*  FIN TITULOS DE SECCIONES */
/* ANCHO IMG Y VIDEO */
img {
  width: 100%;
}

video {
  width: 100%;
}

/* FIN ANCHO IMG Y VIDEO */
/* HEADER */
.header-container {
  margin: 0 150px;
  background-color: #e8a142;
  border: 2px solid #c57b18;
  border-radius: 3px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.header-container .header {
  color: #faebd7;
  width: 65%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}
.header-container .header div:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  text-decoration: underline;
}
.header-container .header div a {
  color: rgb(245, 245, 239);
  text-decoration: none;
  /* MIXIN */
}
.header-container .header div a:hover {
  color: #f4d0a1;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .header-container .header {
    font-size: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-container .header {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-container .header {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header-container .header {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .header-container {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-container {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-container {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header-container {
    display: none;
  }
}

/* FIN HEADER */
/* LOGOS */
.logos-container {
  border: 2px solid #c57b18;
  border-top: none;
  border-radius: 3;
  margin: 0 150px;
  background-color: rgb(245, 245, 239);
  display: flex;
  justify-content: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.logos-container .logos {
  width: 35%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos-container .logos .logos-redes {
  width: 4%;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .logos-container .logos .logos-redes {
    width: 10%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .logos-container .logos .logos-redes {
    width: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .logos-container .logos .logos-redes {
    width: 10%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logos-container .logos .logos-redes {
    width: 5%;
  }
}
.logos-container .logos .logo {
  width: 35%;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .logos-container .logos .logo {
    width: 60%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .logos-container .logos .logo {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .logos-container .logos .logo {
    width: 50%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logos-container .logos .logo {
    width: 40%;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .logos-container .logos {
    width: 35%;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .logos-container .logos {
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .logos-container .logos {
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logos-container .logos {
    width: 40%;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .logos-container {
    border-top: 2px solid #c57b18;
    margin: 0;
    height: 150px;
    padding: 0;
    align-items: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .logos-container {
    border-top: 2px solid #c57b18;
    margin: 0;
    height: 200px;
    padding: 0;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .logos-container {
    border-top: 2px solid #c57b18;
    margin: 0;
    height: 200px;
    padding: 0;
    align-items: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logos-container {
    border-top: 2px solid #c57b18;
    margin: 0;
    height: 200px;
    padding: 0;
    align-items: center;
  }
}

/* FIN LOGOS */
/* GALERIA */
#carousel {
  margin: 0 150px 300px 150px;
}
#carousel .carousel-inner {
  border: 2px solid #c57b18;
  border-radius: 3px;
  border-top: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  #carousel {
    margin: 0 0 100px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #carousel {
    margin: 0 0 100px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #carousel {
    margin: 0 0 100px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #carousel {
    margin: 0 0 100px 0;
  }
}

/* FIN GALERIA */
/* INICIO */
section .presentacion-container {
  background-color: rgb(245, 245, 239);
  margin: 0 150px 300px 150px;
  border: 2px solid #e8a142;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #d3841a;
  border-top: 2px solid #f0c386;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
section .presentacion-container .imagen-presentacion {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 35%;
  margin: 15px 15px 15px 30px;
  display: flex;
}
section .presentacion-container .imagen-presentacion:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  section .presentacion-container .imagen-presentacion {
    width: 450px;
    height: 135px;
    margin: 22px 10px 0 15px;
    padding: auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  section .presentacion-container .imagen-presentacion {
    width: 50%;
    margin: 10px;
    padding: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  section .presentacion-container .imagen-presentacion {
    margin: 10px 10px 10px 15px;
    padding: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  section .presentacion-container .imagen-presentacion {
    margin: 15px;
    padding: auto;
  }
}
section .presentacion-container .parrafo {
  color: #191919;
  font-size: 1em;
  padding: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: justify;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  section .presentacion-container .parrafo {
    font-size: 0.6em;
    padding: 0;
    margin: 4px 5px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  section .presentacion-container .parrafo {
    font-size: 0.9em;
    padding: 0;
    margin: 4px 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  section .presentacion-container .parrafo {
    font-size: 0.9em;
    padding: 0;
    margin: 4px 5px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  section .presentacion-container .parrafo {
    font-size: 1em;
    padding: 0;
    margin: 4px 5px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  section .presentacion-container {
    margin: 0 0 100px 0;
    height: 175px;
    border: 3px solid #e8a142;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  section .presentacion-container {
    margin: 0 0 100px 0;
    border: 3px solid #e8a142;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  section .presentacion-container {
    margin: 0 0 100px 0;
    border: 3px solid #e8a142;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  section .presentacion-container {
    margin: 0 0 100px 0;
    border: 3px solid #e8a142;
  }
}

/* FIN INICIO */
/* FECHAS */
.container .row {
  margin: 25px 0 300px 0;
}
.container .row .col {
  background-color: rgb(245, 245, 239);
  color: #191919;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 5px;
  margin: 50px 14px 0 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container .row .col h3 {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.container .row .col h4 {
  display: flex;
  justify-content: center;
}
.container .row .col:hover {
  transform: scale(1.05);
  transition: all 0.4s;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .container .row .col {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container .row .col {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container .row .col {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container .row .col {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .container .row {
    margin: 25px 0 100px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .container .row {
    margin: 25px 0 100px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container .row {
    margin: 25px 0 100px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container .row {
    margin: 25px 0 100px 0;
  }
}

/* FIN FECHAS */
/* VIDEOS */
#videos .videos-container {
  margin: 25px 0 300px 0;
  display: flex;
  justify-content: center;
}
#videos .videos-container .video {
  width: 65%;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* &:hover {
      transform: scale(1.05);
      transition: all 0.5s;
      } */
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  #videos .videos-container {
    margin: 25px 0 100px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #videos .videos-container {
    margin: 25px 0 100px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #videos .videos-container {
    margin: 25px 0 100px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #videos .videos-container {
    margin: 25px 0 100px 0;
  }
}

/* FIN VIDEOS */
/* CONTACTO */
.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0 80px 150px;
}
.contacto-container .telefono-contacto {
  background-color: rgb(245, 245, 239);
  border: 2px solid black;
  border-radius: 5px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}
.contacto-container .telefono-contacto .icon-tel {
  width: 8%;
  display: flex;
  align-items: center;
}
.contacto-container .telefono-contacto h3 {
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .contacto-container .telefono-contacto h3 {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .contacto-container .telefono-contacto h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .contacto-container .telefono-contacto {
    width: 75%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .contacto-container .telefono-contacto {
    width: 60%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contacto-container .telefono-contacto {
    width: 60%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .contacto-container .telefono-contacto {
    width: 40%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1580px) {
  .contacto-container .telefono-contacto {
    width: 35%;
    justify-content: space-between;
  }
}
.contacto-container .email-contacto {
  background-color: rgb(245, 245, 239);
  border: 2px solid black;
  border-radius: 5px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.contacto-container .email-contacto .icon-email {
  width: 8%;
}
.contacto-container .email-contacto h3 {
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .contacto-container .email-contacto h3 {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .contacto-container .email-contacto h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .contacto-container .email-contacto {
    width: 75%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .contacto-container .email-contacto {
    width: 60%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contacto-container .email-contacto {
    width: 60%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .contacto-container .email-contacto {
    width: 40%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1580px) {
  .contacto-container .email-contacto {
    width: 35%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .contacto-container {
    align-items: center;
    margin: 15px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .contacto-container {
    align-items: center;
    margin: 15px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contacto-container {
    align-items: center;
    margin: 15px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .contacto-container {
    align-items: center;
    margin: 15px 0;
  }
}

/* FIN CONTACTO */
/* ICONO WSP */
section .wspicon {
  width: 3.5%;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
section .wspicon:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  section .wspicon {
    width: 10%;
    right: 15px;
    bottom: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  section .wspicon {
    width: 7%;
    bottom: 15px;
    right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  section .wspicon {
    width: 7%;
    bottom: 15px;
    right: 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  section .wspicon {
    width: 5%;
    bottom: 15px;
    right: 15px;
  }
}

/* FIN ICONO WSP */
/* FIN CONTACTO */
#standard {
  background-color: #ffffff;
}

/* FOOTER */
.footer-container {
  background-color: rgb(245, 245, 239);
  border: 2px solid #191919;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.footer-container .footer {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .footer .logo-footer {
  width: 40%;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .footer-container .footer .logo-footer {
    width: 28%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .footer-container .footer .logo-footer {
    width: 35%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-container .footer .logo-footer {
    width: 35%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-container .footer .logo-footer {
    width: 30%;
  }
}
.footer-container .footer .logos-redes-footer {
  width: 10%;
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .footer-container .footer .logos-redes-footer {
    width: 7%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .footer-container .footer .logos-redes-footer {
    width: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-container .footer .logos-redes-footer {
    width: 10%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-container .footer .logos-redes-footer {
    width: 8%;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .footer-container .footer {
    width: 50%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .footer-container .footer {
    width: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-container .footer {
    width: 30%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-container .footer {
    width: 30%;
  }
}
@media screen and (max-width: 576px) and (max-height: 915px) {
  .footer-container {
    height: 80px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .footer-container {
    height: 90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer-container {
    height: 110px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .footer-container {
    height: 125px;
  }
}

/* FIN FOOTER */
#standard {
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
