/* FOOTER */

.footer-container {
    background-color: #ffffff;
    border: 2px solid #191919;
    display: flex;
    justify-content: center;
}

.footer {
    width: 15%;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 40%;
}

.logos-redes-footer {
    width: 10%;
}

/* FIN FOOTER */