* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

video {
    width: 100%;
}

body {
    background-image: url("/images/kathy/album.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    font-family: roboto-fuente
}

/* Fuentes */

@font-face {
    font-family:roboto-fuente;
    src:url("/roboto-fonts/Roboto-Medium.ttf") ;
}

/* Fin fuentes */

/* Titulos de las secciones */

.subtitulos {
    color: #191919;
    font-size: 30px;
    padding: 10px 10px 0 100px;
    margin:10px 0 5px 0;
    text-decoration: underline;
}

/*  Fin titulos de las secciones */

/* Header */

.header-container {
    background-color: #e8a142;
    padding: 20px 0;

    display: flex;
    justify-content: center;
}

.header {
    color: #faebd7;
    width: 65%;
    text-decoration: none;


    display: flex;
    justify-content: space-around;
}

header nav div a {
    color: #ffffff;
    text-decoration: none;
}

/* Agrego transiciones al navbar de la presentacion */
.inicio:hover {
    transform: scale(1.2);
    transition: all 0.4s;
    text-decoration: underline;
    
}

.fechas:hover {
    transform: scale(1.2);
    transition: all 0.4s;
    text-decoration: underline;
}

.galeria:hover {
    transform: scale(1.2);
    transition: all 0.4s;
    text-decoration: underline;
}

.videos:hover {
    transform: scale(1.2);
    transition: all 0.4s;
    text-decoration: underline;
}

.contacto:hover {
    transform: scale(1.2);
    transition: all 0.4s;
    text-decoration: underline;
}

/* Fin header */

/* Logo */
.logos-container {
    background-color: white;
    display: flex;
    justify-content: center;
}

.logos {
    width: 35%;
    height: 250px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 35%;
}

.logos-redes {
    width:4%;
}

/* Fin logo */

/* inicio */

.presentacion-container {
    height: 50%;
    margin-bottom: 100px;
    border: 5px solid #e8a142;
    border-radius: 5px;

    display: flex;
    justify-content: center;
}

.imagen-presentacion {
    width: 20%;
    margin: 15px 15px 15px 30px;

    
}

/* Agrego transiciones a la imagen de la presentacion */
.imagen-presentacion:hover {
    transform: scale(1.25);
    transition: all 0.5s;
}

.parrafo {
    color: #191919;
    font-size: 1.5em;
    padding: 50px;

    display: flex;
    justify-content: end;
    align-items: center;
    text-align: justify;
}

/* Fin inicio */

/* Fechas */
/* Aplico el sistema de grids de bootstrap */
.row {
margin: 25px 0 100px 0;
}

.col {
    color: #191919;
    font-size: 1.5em;
    border: 3.5px solid black;
    border-radius: 5px;
    margin: 50px 14px 0 14px;
}


/* Agrego transiciones a las fechas */
.col:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}

/* Fin fechas */


/* Videos */

.videos-container {
    margin: 25px 0 100px 0;

    display: flex;
    justify-content: center;
    
}

.video {
    width: 65%;
    padding: 20px;

    display: flex;
    justify-content: center;
}

/* Agrego transiciones a la imagen de la presentacion */
.video:hover {
    transform: scale(1.25);
    transition: all 0.5s;
}

/* Fin videos */

/* Contacto */

.contacto-container {
    color: #191919;
    /* border: 5px solid #e8a142; */
    /* border-radius: 5px; */
    /* background-color: #191919 */;
    height: 200px;
    margin: 40px 0 35px 0;
}

.datos {
    color: #191919;
    font-size: 1.5em;
    padding: 0 280px 10px 20px;


    display: flex;
    justify-content: start;
    align-content: center;
    text-align: justify;
}

/* Icono wsp */

.wspicon {
    width: 3.5%;
    position: fixed;
    bottom: 10px;
    right: 25px;
}

/* Agrego transiciones al icono de wsp */
.wspicon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

/* Fin icono wsp */

/* Fin Contacto */

/* Footer */

.footer-container {
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.footer {
    width: 15%;
    /* height: 200px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 40%;
}

.logos-redes-footer {
    width: 10%;
}

/* Fin footer */


/* MEDIA QUERIES */

/* Pantallas extra pequeñas */
@media screen and (max-width: 576px) and (max-height: 915px) {
.header-container {
    padding: 15px 0;
}

.header {
    font-size: 10px;
}


.logos-container {
    height: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logos {
    width: 35%;
    /* height: 300px; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60%;
}

.logos-redes {
    width: 10%;
}

.presentacion-container {
    height: 150px;
    margin-bottom: 100px;
    border: 3px solid #e8a142;
    border-radius: 5px;

    display: flex;
    justify-content: center;
}
    
.imagen-presentacion {
    width: 50%;
    margin: 25px 10px 0 15px;
    padding: auto;
}

.parrafo {
    color: #191919;
    font-size: 0.8em;
    padding: 0px;
    margin: 4px 5px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.subtitulos {
color: #191919;
font-size: 20px;
padding: 0;
margin:0;

display: flex;
justify-content: center;
}

.col {
    font-size: 15px;
}

.wspicon {
    width: 10%;
    bottom: 10px;
    right: 10px; 
}

.footer-container {
    height: 80px;
    border: 2px solid black;
}

.footer {
    width: 50%;
}

.logo-footer {
    width: 37%;
}

.logos-redes-footer {
    width: 10%;
}

}

/* Fin Pantallas extra pequeñas */

/* Pantallas pequeñas */
@media screen and (min-width: 576px) and (max-width: 768px) {
.header-container {
    padding: 15px 0;
}

.header {
    font-size: 12px;
}


.logos-container {
    height: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logos {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
}

.logos-redes {
    width: 10%;
}

.presentacion-container {
    margin-bottom: 100px;
    border: 3px solid #e8a142;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
}

.imagen-presentacion {
    width: 50%;
    margin: 10px;
    padding: auto;
}

.parrafo {
    color: #191919;
    font-size: 0.9em;
    padding: 0px;
    margin: 4px 5px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.subtitulos {
    color: #191919;
    font-size: 30px;
    padding: 0;
    margin:0;

    display: flex;
    justify-content: center;
}

.col {
    font-size: 15px;
}

.wspicon {
    width: 7%;
    bottom: 15px;
    right: 15px; 
}

.footer-container {
    height: 100px;
    border: 2px solid black;
}

.footer {
    width: 30%;
}

.logo-footer {
    width: 50%;
}

.logos-redes-footer {
    width: 15%;
}

}

/* Fin Pantallas pequeñas */

/* Pantallas Medianas */
@media screen and (min-width: 768px) and (max-width: 992px) {
.header-container {
    padding: 15px 0;
}

.header {
    font-size: 12px;
}


.logos-container {
    height: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    width: 40%;
    /* height: 300px; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
}

.logos-redes {
    width: 10%;
}

.presentacion-container {
    margin-bottom: 100px;
    border: 3px solid #e8a142;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
}

.imagen-presentacion {
    width: 35%;
    margin: 10px 10px 10px 15px;
    padding: auto;
}

.parrafo {
    color: #191919;
    font-size: 0.9em;
    padding: 0px;
    margin: 4px 5px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.subtitulos {
    color: #191919;
    font-size: 30px;
    padding: 0;
    margin:0;

    display: flex;
    justify-content: center;
}

.col {
    font-size: 15px;
}

.wspicon {
    width: 7%;
    bottom: 15px;
    right: 15px; 
}

.footer-container {
    height: 125px;
    border: 2px solid black;
}

.footer {
    width: 30%;
}

    .logo-footer {
    width: 50%;
}

    .logos-redes-footer {
    width: 10%;
}

}

/* Pantallas Medianas */

/* Pantallas Grandes */

@media screen and (min-width: 992px) and (max-width: 1200px) {
.header-container {
    padding: 15px 0;
}

.header {
    font-size: 12px;
}


.logos-container {
    height: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    width: 40%;
    /* height: 300px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40%;
}

.logos-redes {
    width: 5%;
}

.presentacion-container {
    margin-bottom: 100px;
    border: 3px solid #e8a142;
    border-radius: 5px;

    display: flex;
    justify-content: center;
}

.imagen-presentacion {
    width: 35%;
    margin: 15px;
    padding: auto;
}

.parrafo {
    color: #191919;
    font-size: 1em;
    padding: 0px;
    margin: 4px 5px;

    display: flex;
    justify-content: end;
    align-items: center;
}

.subtitulos {
    color: #191919;
    font-size: 30px;
    padding: 0;
    margin:0;

    display: flex;
    justify-content: center;
}

.col {
    font-size: 20px;
}

.wspicon {
    width: 5%;
    bottom: 15px;
    right: 15px; 
}

.footer-container {
    height: 150px;
    border: 2px solid black;
}

.footer {
    width: 30%;
}

.logo-footer {
    width: 45%;
}

.logos-redes-footer {
    width: 8%;
}

}

/* Fin Pantallas Grandes */

/* FIN MEDIA QUERIES */

