* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    padding: 10px;
}

video {
    width: 100%;
}

body {
    background-image: url("/images/Kathy/album.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    text-decoration: none;
    font-family: roboto-fuente
}

/* Fuentes */

@font-face {
    font-family:roboto-fuente;
    src:url("/Roboto-fonts/Roboto-Medium.ttf") ;
}

/* Fin fuentes */

/* Titulos de las secciones */

.subtitulos {
    color: #191919;
    padding: 10px 10px 0 100px;
    margin:10px 0 5px 0;
    text-decoration: underline;
}

/*  Fin titulos de las secciones */

/* Header */

.header-container {
    background-color: #e8a142;
    padding: 20px 0;

    display: flex;
    justify-content: center;
}

.header {
    color: #faebd7;
    width: 65%;
    text-decoration: none;


    display: flex;
    justify-content: space-around;
}

header nav div a {
    color: #ffffff;
    text-decoration: none;
}

/* Agrego transiciones al navbar de la presentacion */
.inicio:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}

.fechas:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}

.galeria:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}

.videos:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}

.contacto:hover {
    transform: scale(1.2);
    transition: all 0.4s;
}

/* Fin header */

/* Logo */
.logos-container {
    background-color: white;
    display: flex;
    justify-content: center;
}

.logos {
    width: 35%;
    height: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos-redes {
    width: 8%;
}

/* Fin logo */

/* inicio */

.presentacion-container {
    height: 50%;
/* Los bordes, tanto este como lo demas, lo puse para identificar las secciones, puede que en un futuro lo saque a todos o a algunos  */
    margin-bottom: 100px;
    border: 5px solid #e8a142;
    border-radius: 5px;

    display: flex;
    justify-content: center;
}

.imagen-presentacion {
    width: 30%;
    margin: 5px 0 0 85px;

    display: inline;
    
}

/* Agrego transiciones a la imagen de la presentacion */
.imagen-presentacion:hover {
    transform: scale(1.4);
    transition: all 0.5s;
}

.parrafo {
    color: #191919;
    font-size: 1.5em;
    padding: 50px;

    display: flex;
    justify-content: end;
    align-items: center;
    text-align: justify;
}

/* Fin inicio */

/* Fechas */
.fechas-container {
    height: 200px;
    margin: 25px 0 100px 0;
    border: 5px solid #e8a142;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.parrafo-fechas {
    color: #191919;
    font-size: 1.5em;
    margin-left: 30px;


    display: flex;
    justify-content: space-between
}

/* Fin fechas */

/* Galeria */

.photo-grid-container {
    margin: 25px 0 100px 0;
    border: 5px solid #e8a142;
    border-radius: 5px;

    display: flex;
    justify-content: center;
}


.photo-grid {
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}


/* Fin Galeria */

/* Videos */

.videos-container {
    border: 5px solid #e8a142;
    border-radius: 5px;
    margin: 25px 0 100px 0;

    display: flex;
    justify-content: center;
    
}

.video {
    width: 65%;
    padding: 20px;

    display: flex;
    justify-content: center;
}

/* Agrego transiciones a la imagen de la presentacion */
.video:hover {
    transform: scale(1.5);
    transition: all 0.5s;
}

/* Fin videos */

/* Contacto */

.contacto-container {
    color: #191919;
    /* border: 5px solid #e8a142; */
    /* border-radius: 5px; */
    /* background-color: #191919 */;
    height: 200px;
    margin: 40px 0 35px 0;
}

.datos {
    color: #191919;
    font-size: 1em;
    padding: 0 280px 10px 20px;


    display: flex;
    justify-content: start;
    align-content: center;
    text-align: justify;
}

/* Icono wsp */

.wspicon {
    width: 3.5%;
    position: fixed;
    bottom: 0;
    right: 25px;
}

/* Agrego transiciones al icono de wsp */
.wspicon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

/* Fin icono wsp */

/* Fin Contacto */

/* Footer */

.footer-container {
    background-color: white;
    margin-bottom: 0;
    border: 5px solid black;
    display: flex;
    justify-content: center;
}

.footer {
    width: 30%;
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos-redes-footer {
    width: 12%;
}

/* Fin footer */