/* BODY */

body {
    background-image: url("/images/album.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    font-family: roboto-fuente
}

/* FIN BODY */