/* CONTACTO */

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0 80px 150px;
    .telefono-contacto {
        background-color: rgb(245, 245, 239);
        border: 2px solid black;
        border-radius: 5px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 10px;
        .icon-tel {
            width: 8%;
            display: flex;
            align-items: center;
        }
        h3 {
            font-size: 20px;
            margin: 0;
            margin-right: 10px;

            @media screen and (max-width: 576px) and (max-height: 915px) {
                font-size: 15px;
            }

            @media screen and (min-width: 576px) and (max-width: 768px) {
                font-size: 18px;
            }
        }
        
        
        @media screen and (max-width: 576px) and (max-height: 915px) {
            width: 75%;
            justify-content: space-between;
        }

        @media screen and (min-width: 576px) and (max-width: 768px) {
            width: 60%;
            justify-content: space-between;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 60%;
            justify-content: space-between;
        }

        @media screen and (min-width: 992px) and (max-width: 1200px) {
            width: 40%;
            justify-content: space-between;
        }

        @media screen and (min-width: 1201px)and (max-width: 1580px) {
            width: 35%;
            justify-content: space-between;
        }
        
    }

    .email-contacto {
        background-color: rgb(245, 245, 239);
        border: 2px solid black;
        border-radius: 5px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .icon-email {
            width: 8%;
        }
        h3 {
            font-size: 20px;
            margin: 0;
            margin-left: 10px;
            
            @media screen and (max-width: 576px) and (max-height: 915px) {
                font-size: 15px;
            }
            @media screen and (min-width: 576px) and (max-width: 768px) {
                font-size: 18px;
            }
        }
    
        @media screen and (max-width: 576px) and (max-height: 915px) {
            width: 75%;
            justify-content: space-between;
        }
    
        @media screen and (min-width: 576px) and (max-width: 768px) {
            width: 60%;
            justify-content: space-between;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 60%;
            justify-content: space-between;
        }

        @media screen and (min-width: 992px) and (max-width: 1200px) {
            width: 40%;
            justify-content: space-between;
        }

        @media screen and (min-width: 1201px)and (max-width: 1580px) {
            width: 35%;
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 576px) and (max-height: 915px) {
        align-items: center;
        margin: 15px 0;
    }

    @media screen and (min-width: 576px) and (max-width: 768px){
        align-items: center;
        margin: 15px 0;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        align-items: center;
        margin: 15px 0;
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        align-items: center;
        margin: 15px 0;
    }
}

/* FIN CONTACTO */

/* ICONO WSP */

section {
    .wspicon {
    width: 3.5%;
    position: fixed;
    bottom: 25px;
    right: 25px;

    &:hover {
        transform: scale(1.2);
        transition: all 0.3s;
    }

    @media screen and (max-width: 576px) and (max-height: 915px) {
        width: 10%;
        right: 15px;
        bottom: 15px;
    }
    @media screen and (min-width: 576px) and (max-width: 768px) {
        width: 7%;
        bottom: 15px;
        right: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 7%;
        bottom: 15px;
        right: 15px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 5%;
        bottom: 15px;
        right: 15px; 
    }
}
}

/* FIN ICONO WSP */

/* FIN CONTACTO */