/* CONTACTO */

#contacto {
    .contacto-container {
    color: #191919;
    height: 200px;
    margin: 0 100px 35px 250px;
    .datos {
        background-color: $color-bg-hd-ftr;
        margin-top: 20px;
        border: 2px solid darken($naranja, 15%);
        border-radius: 5px;
        color: #191919;
        font-size: 1.5em;
        padding: 10px;
        display: inline-block;
        p {
            margin: 0;
        }
        }
    }
}


/* ICONO WSP */

section {
    .wspicon {
    width: 3.5%;
    position: fixed;
    bottom: 25px;
    right: 25px;

    &:hover {
        transform: scale(1.2);
        transition: all 0.3s;
    }

    @media screen and (max-width: 576px) and (max-height: 915px) {
        width: 10%;
        right: 10px;
    }
    @media screen and (min-width: 576px) and (max-width: 768px) {
        width: 7%;
        bottom: 15px;
        right: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 7%;
        bottom: 15px;
        right: 15px;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 5%;
        bottom: 15px;
        right: 15px; 
    }
}
}

/* FIN ICONO WSP */

/* FIN CONTACTO */