/* Titulos de las secciones */

.subtitulos {
    color: #191919;
    font-size: 30px;
    padding: 10px 10px 0 100px;
    margin:10px 0 5px 0;
    text-decoration: underline;
}

/*  Fin titulos de las secciones */